Use HTTP-Signature instead of WebID-RSA

@dlongley and @msporny's [draft-cavage-http-signatures-05](https://tools.ietf.org/html/draft-cavage-http-signatures-05) has a few implementations, and is written in a style that has chances to get adoption by the IETF. It is generic enough to satisfy a  wide set of use cases. And there is strength in numbers. This suggests that we use that as the basis for WebID-RSA ( though it could do with a better name [see issue 5](https://github.com/solid/solid-spec/issues/5) ).

Of course we need to see if it works for us. That is what I have been working on:
- I have implemented a server version of Http Signature in not too much code [1], 
- I am now looking at the (browser) client side: the issue is that one does not get access to all the headers one would like to. So I opened [issue 156 on the Fetch WhatWG github repo](https://github.com/whatwg/fetch/issues/156), to see if the Fetch API could give the client full access to the http headers as they are sent. Though it may be a long time before that wish comes to pass.  So we need to see if we can do without full access to the headers.

What the SoLiD spec could suggest is a number of headers to use for authentication. Here is my first proposal. The SoLiD spec could suggest that client sign at least the following headers:
- optional `User` header for the WebID, when the user has one. This avoids an intermediary adding a WebID to the request and pointing the WebID profile to the WebKey document. ( Assuming the WebKey document does not point to the WebID for reasons of privacy )
- MUST `Signature-Date` (name open for discussion). This header is needed so that the message cannot be used in a replay attack - it forms a good nonce. The server could also verify that this date be within a couple of seconds at most of the actual `Date` header sent by the browser. We are doing this over TLS, but these headers could end up in the log, and those logs could be stolen.
- signing the `(request-target)` seems like a good idea too. ( can that in some way be thought of as the nonce? )
- signing the `Host`

The Authorization header would then look like this

```
Authorization: Signature keyId="https://joe.example/keys/key#",algorithm="rsa-sha256",\
headers="(request-target) host user signature-date",\
signature="Base64(RSA-SHA256(signing string))"
```

note:
- the `\` above indicate that it and the newline character that follow are just for display purposes 
- `Base64(RSA-SHA256(signing string))` is a function on a signing string specified below which would
  be something like:

``` text
(request-target): get /profile\n
host: jane.name\n
user: https://joe.example/#
signature-date: 2015-11-10T17:39:25.192Z\n
```

What SoLiD adds to Http-Signature then is the definition of `Signature-Date` which gives the time of the Signature, with the requirement that it be no more than a few seconds out of sync with the real date, and the requirement of `User` for the WebID when the user has one (which is already something SoLiD uses).

This would then also require the WebId Working group at some point to define WebID verification given a key and such a header (not difficult: just need to dereference the WebID and see if it points to the key I think).

The Initial SoLiD server's request that could have launched this would then have looked like this:

``` http
401 Unauthorized
WWW-Authenticate: Signature realm="/",headers="(request-target) host user signature-date"
Access-Control-Allow-Credentials: true
Access-Control-Allow-Headers: Authorization,Host,User,Signature-Date
Access-Control-Allow-Origin: *
Access-Control-Expose-Headers: WWW-Authenticate
```

The definition of the `Signature-Date` header is the precise Time in ISO 8601 format w/ sub-millisecond precision when the header was signed. You can get this in JS with

``` JS
new Date().toISOString()
```

This would need to be added to the [IETF header registry](http://www.iana.org/assignments/message-headers/message-headers.xhtml) referred to by [section 8.1 of RFC 7230 on HTTP 1.1](https://tools.ietf.org/html/rfc7230#section-8.1).

[1] The core verification code, without the HTTP header setting:
- [HttpAuthentication main entry](https://github.com/read-write-web/rww-play/blob/dev/app/rww/auth/HttpAuthentication.scala)
- [WebKeyVerifier](https://github.com/read-write-web/rww-play/blob/dev/app/rww/ldp/auth/WebKeyVerifier.scala) fetches the key and verifies the signature
- [Tests](https://github.com/read-write-web/rww-play/blob/dev/test/ldp/auth/HttpSignaturesTest.scala)


I now have the tests working for Signing Http Messages 07 having implemented most of it.
The implementation is available in the [httpSig](https://github.com/bblfish/httpSig) repo.
Currently it works with JVM based [Akka](https://akka.io). 
I going to try to get it to work for [http4s](https://http4s.org) next so I can use it in the the browser with JS - and it could also be made to work on nodejs.

My EU finding is coming to an end, so if anyone has real needs for other implementations this is the best time to contact me.