Advertising trusted OIDC issuers via Link headers

Allowing servers to advertise the trusted OIDC issuers on HTTP HEAD and GET requests to the `foaf:PersonalProfileDocument` containing the WebID via Link headers of relation type `http://www.w3.org/ns/solid/terms#oidcIssuer` seems like a nice optimisation. 

Of course, it is equivalent to saying that the trusted OIDC issuers list is at the resource level instead of specifically WebID level. But then I don’t think it is problematic at all since control is a resource level thing anyway and if more granular control emerged in a system, then one could (or simply would have to) also restrict editing accordingly, which doesn’t sound unreasonable.

Such a solution would massively speed up/improve the Solid OIDC verification since instead of dereferencing and parsing a WebID, an RS could simply rely on HTTP HEAD+link headers matching to validate access tokens.   We can also remain completely backward compatible and avoid over-burdening implementors by keeping the parsing of a WebID’s turtle representation as the only required mechanism.

For servers supporting that, one could simply send an HTTP HEAD request:

```http
HEAD https://www.example.com/alice
```

And receive:

```http
HTTP/1.1 200 OK
Link: <https://idp.example.com>; rel="http://www.w3.org/ns/solid/terms#oidcIssuer"
```


Earlier version had this option but we decided to remove it. I think sometimes one doesn't have control over headers of their WebID Document. In that case parsing the document is required anyways. 

> Such a solution would massively speed up/improve the Solid OIDC access token verification since instead of dereferencing and parsing a WebID, an RS could simply rely on HTTP HEAD+link headers matching to validate the issuer claim.  

I don't understand why do you see it as *massive speed up* ?


A speed up would be based on two factors: 

1. No payload being transferred. This probably isn't significant in cases where a WebID is small. There are, however, WebID documents in the wild with many thousand triples; for example, `https://ruben.verborgh.org/profile/#me`.
2. No RDF parsing. For larger RDF documents, parsing an RDF serialization into a graph does not come for free. Relying only on headers avoids this

If this were to be adopted, we would need to carefully define which values take precedence; headers would need to for this to be effective.

There is also a more theoretical RDF data modeling question buried in here. If I have a WebID at `https://id.example/acoburn#i`, what is the subject of the associated link headers? Is it `https://id.example/acoburn` or is it `https://id.example/acoburn#i`? I believe it is the former. And in that case, do those link headers make semantic sense? 

I generally try to avoid range-14 debates, but would adding a link header like that be semantically incorrect?

@acoburn as discussed in https://github.com/solid/authorization-panel/issues/228#issuecomment-870432999, I don't think that there is a very well defined universal way to translate link headers to RDF. If we're in the realm of conventions, maybe we have some margin to define the semantic meaning of this header.

In any case, as you said, it's really a range-14 debate which in a way, I think we can bypass, because given the current convention, if the issuer is trusted in the WebID that is the primary topic of the document, I think it should be considered as trusted at the document level. We could probably even infer something like:

```turtle
solid:oidcIssuer
    rdf:type owl:ObjectProperty ;
    owl:propertyChainAxiom ( foaf:primaryTopic solid:oidcIssuer ) .
```

> If this were to be adopted, we would need to carefully define which values take precedence; headers would need to for this to be effective.

I think we can treat this as an optional optimization by simply following the rule I tried to formulate, but let me try to rephrase:

"The RS MAY verify the access token's issuer is trusted by performing a HTTP HEAD request against the personal profile document or the WebID and matching the issuer against values of link headers of relation type `http://www.w3.org/ns/solid/terms#oidcIssuer`. If no link header of relation type `http://www.w3.org/ns/solid/terms#oidcIssuer` is returned, then the access token verification MUST fallback to checking the personal profile document resource."

> There is also a more theoretical RDF data modeling question buried in here. If I have a WebID at `https://id.example/acoburn#i`, what is the subject of the associated link headers? Is it `https://id.example/acoburn` or is it `https://id.example/acoburn#i`? I believe it is the former. And in that case, do those link headers make semantic sense? 

I think `anchor` should address it

```http

Link: <https://idp.example/>; rel="http://www.w3.org/ns/solid/terms#oidcIssuer"; anchor="#i"
```

https://datatracker.ietf.org/doc/html/rfc8288#section-3.2
>  By default, the context of a link conveyed in the Link header field
   is the URL of the representation it is associated with, as defined in
   [RFC7231], Section 3.1.4.1, and is serialised as a URI.

>   When present, the anchor parameter overrides this with another URI,
   such as a fragment of this resource, or a third resource (i.e., when
   the anchor value is an absolute URI).